version: "3.8"
services:
  test:
    build:
      context: ./backend
      target: test
    image: hilite:test
    command: echo "Tests completed"



  dev:
    build:
      context: ./backend
      target: prod
    ports:
      - "8000:8000"
    image: hilite:prod
    container_name: hilite-dev-app
    depends_on:
      test:
        condition: service_completed_successfully

    volumes:
      - ./backend/src:/app/backend/src
      - ./backend/secrets:/etc/secrets
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET_FILE=${CLIENT_SECRET_FILE}
      - TWITCH_CLIENT_ID=${TWITCH_CLIENT_ID}
      - TWITCH_CLIENT_SECRET=${TWITCH_CLIENT_SECRET}
      - YT_TOKEN_PATH=${YT_TOKEN_PATH}
      - ELEVENLABS_API_KEY=${ELEVENLABS_API_KEY}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_API_KEY=${SUPABASE_API_KEY}

    shm_size: '2gb'
    profiles: ["dev"]



  frontend-dev:
    build:
      context: ./frontend-react
      dockerfile: dockerfile.dev 
    ports:
      - "5173:5173"
    environment:
    - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
    - VITE_SUPABASE_API_KEY=${VITE_SUPABASE_API_KEY}
    volumes:
    - ./frontend-react/src:/app/src
    - ./frontend-react/public:/app/public
    - ./frontend-react/index.html:/app/index.html
    - ./frontend-react/vite.config.ts:/app/vite.config.ts
    - /app/node_modules
    profiles: ["dev"]


  frontend-prod:
    build:
      context: ./frontend-react
      dockerfile: Dockerfile  
    ports:
      - "80:80"
    profiles: ["prod"]







