name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test:
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          target: test
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # Pas de load: true (inutile)

  build:
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          target: prod
          tags: hilite:prod
          cache-from: type=gha
          cache-to: type=gha,mode=max