name: CI/CD

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET_FILE: ${{ secrets.CLIENT_SECRET_FILE }}
      ELEVENLABS_API_KEY: ${{ secrets.ELEVENLABS_API_KEY }}
      TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
      TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
      YT_TOKEN_PATH: ${{ secrets.YT_TOKEN_PATH }}
      SUPABASE_API_KEY: ${{ secrets.SUPABASE_API_KEY}}
      SUPABASE_URL: ${{ secrets.SUPABASE_URL}}




    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Build test image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          target: test
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-backend:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build and push backend  image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          target: prod
          tags: hilite:prod
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-frontend:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with: 
          context: ./frontend-react
          file: ./frontend-react/dockerfile

  deploy-backend:
    needs: build-backend
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend to Render
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{}' \
            https://api.render.com/deploy/${{ secrets.RENDER_BACKEND_DEPLOY_HOOK}}

  deploy-frontend:
    needs: build-frontend
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend to Render
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{}' \
            https://api.render.com/deploy/${{ secrets.RENDER_FRONT_DEPLOY_HOOK }}