# .github/workflows/python-setup.yaml
name: Python setup

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string


jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/@checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{inputs.python-version}}

      - name: Install dependencies
        run:
          python -m pip install --upgrade pip
          pip install -r requirements.txt

